body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	background-image: url(../images/bg/grey-linen.png);
	background-repeat: repeat;
}
#wrapper {
	position: relative;
	text-align: left;
	width: 978px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
/* 	background-image: url(../images/shadow-bg.jpg);
	background-repeat:repeat-y; */
}

#main {
	padding: 0 0 2px 0;
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 0 10px 16px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	/* background-image: url(../images/shadow-bottom.jpg);
	background-repeat:no-repeat;
	background-position: bottom left; */
}

#header {
	background-image: url(../images/banner/banner-main.png);
	background-repeat:no-repeat;
    height:220px;
    position:relative;
    border-bottom: 1px solid #ececec;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header-emacs {
	background-image: url(../images/banner/banner-emacs.png);
	background-repeat:no-repeat;
    height:220px;
    position:relative;
    border-bottom: 1px solid #ececec;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header-vim {
	background-image: url(../images/banner/banner-vim.png);
	background-repeat:no-repeat;
    height:220px;
    position:relative;
    border-bottom: 1px solid #ececec;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header-emacs h1 {
	margin: 0;
    padding: 0;
	font-family: Bangers;
    font-weight:normal;
    color: #8077FF;
    font-size: 280%;
    position:absolute;
    bottom: 4px;
    right: 10px;
}

#header-vim h1 {
	margin: 0;
    padding: 0;
	font-family: Bangers;
    font-weight:normal;
    color: #009F1B;
    font-size: 280%;
    position:absolute;
    bottom: 4px;
    right: 10px;
}

#header h1 {
	margin: 0;
    padding: 0;
	font-family: Bangers;
    font-weight:normal;
    font-size: 280%;
    color: white; /* #77FDFF */
    position:absolute;
    bottom: 4px;
    right: 10px;
}

#content-center {
	position: static;
	float:center;
    width: auto;
	margin: 0 20px 0 20px;
}

#content-center img {
	margin: auto;
}

#content {
	position: static;
	float:left;
    width: auto;
	/* padding: 0 50px 0 50px; */
	margin: 0 20px 10px 20px;
	/* border: 3px solid #73AD21; */
}

#content-center {
	position: static;
	float:center;
    width: auto;
	margin: 0 20px 0 20px;
}

#content p {
	font-size: 80%;
	line-height: 1.8em;
}

#footer {
	clear:both;
    border-radius: 4px;
    margin: 4px 10px 8px 10px;
	border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: left;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#timer {
	float: right;
}

hr.part-up {
	height: 10px;
	width: 100%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-bottom: 50px;
}

hr.part-down {
	height: 10px;
	width: 100%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-top: 50px;
}

#box-green {
	border-radius: 10px;
    margin: 4px;
	background-color: #4CAF50;
    color: #ffffff;
    padding: 15px;
}

#box-blue {
	border-radius: 10px;
    margin: 4px 20px 4px 20px;
	background-color: #32a4e7;
    color: #ffffff;
    padding: 15px;
	text-align: center;
}