body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	background-image: url(../images/bg/grey-linen.png);
	background-repeat: repeat;
}
#wrapper {
	position: relative;
	text-align: left;
	width: 978px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
/* 	background-image: url(../images/shadow-bg.jpg);
	background-repeat:repeat-y; */
}

#main {
	padding: 0 0 2px 0;
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 0 10px 16px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	/* background-image: url(../images/shadow-bottom.jpg);
	background-repeat:no-repeat;
	background-position: bottom left; */
}

#header {
	background-image: url(../images/banner/banner-main.png);
	background-repeat:no-repeat;
    height:220px;
    position:relative;
    border-bottom: 1px solid #ececec;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header h1 {
	margin: 0;
    padding: 0;
    font-weight:normal;
	font-family: Bangers;
    font-size: 190%;
    color: #cb352d;
    position:absolute;
    bottom: 4px;
    right: 10px;
}

#content-center {
	position: static;
	float:center;
    width: auto;
	margin: 0 20px 0 20px;
}

#content {
	position: static;
	float:left;
    width: auto;
	/* padding: 0 50px 0 50px; */
	margin: 0 20px 0 20px;
	/* border: 3px solid #73AD21; */
}

#content p {
	font-size: 80%;
	line-height: 1.8em;
}

#footer {
	clear:both;
	font-size: 80%;
	padding-top: 1em;
    text-align:right;
    color: #999;
    background-color: transparent;
}

hr.part-up {
	height: 10px;
	width: 100%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-bottom: 50px;
}

hr.part-down {
	height: 10px;
	width: 100%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-top: 50px;
}